In [1]:
import pandas as pd
import numpy as np

In [2]:
comb = pd.read_csv('../raw_data/combined_subset.csv')

In [6]:
comb

,Unnamed: 0,FlightDate,Year,Quarter,Month,DayofMonth,DayOfWeek,Airline,Operating_Airline,Marketing_Airline_Network,...,OriginCityName,OriginStateName,DestAirportID,DestCityName,DestStateName,CRSArrTime,Distance,ArrDelayMinutes,Cancelled,Diverted
0,0,2018-01-23,2018,1,1,23,2,Endeavor Air Inc.,9E,DL,...,"Albany, GA",Georgia,10397,"Atlanta, GA",Georgia,1304,145.0,0.0,False,False
1,1,2018-01-24,2018,1,1,24,3,Endeavor Air Inc.,9E,DL,...,"Albany, GA",Georgia,10397,"Atlanta, GA",Georgia,1304,145.0,0.0,False,False
2,2,2018-01-25,2018,1,1,25,4,Endeavor Air Inc.,9E,DL,...,"Albany, GA",Georgia,10397,"Atlanta, GA",Georgia,1304,145.0,0.0,False,False
3,3,2018-01-26,2018,1,1,26,5,Endeavor Air Inc.,9E,DL,...,"Albany, GA",Georgia,10397,"Atlanta, GA",Georgia,1304,145.0,0.0,False,False
4,4,2018-01-27,2018,1,1,27,6,Endeavor Air Inc.,9E,DL,...,"Albany, GA",Georgia,10397,"Atlanta, GA",Georgia,1500,145.0,0.0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29193777,29193777,2022-03-31,2022,1,3,31,4,Republic Airlines,YX,UA,...,"New Orleans, LA",Louisiana,11618,"Newark, NJ",New Jersey,2354,1167.0,NaN,False,True
29193778,29193778,2022-03-17,2022,1,3,17,4,Republic Airlines,YX,UA,...,"Charlotte, NC",North Carolina,11618,"Newark, NJ",New Jersey,1942,529.0,NaN,True,False
29193779,29193779,2022-03-08,2022,1,3,8,2,Republic Airlines,YX,UA,...,"Albany, NY",New York,13930,"Chicago, IL",Illinois,1838,723.0,381.0,False,False
29193780,29193780,2022-03-25,2022,1,3,25,5,Republic Airlines,YX,UA,...,"Newark, NJ",New Jersey,14122,"Pittsburgh, PA",Pennsylvania,2255,319.0,NaN,False,True
29193781,29193781,2022-03-07,2022,1,3,7,1,Republic Airlines,YX,UA,...,"Newark, NJ",New Jersey,14492,"Raleigh/Durham, NC",North Carolina,1333,416.0,NaN,False,True

In [4]:
train_val = comb.sample(frac=0.7)
train_val

,Unnamed: 0,FlightDate,Year,Quarter,Month,DayofMonth,DayOfWeek,Airline,Operating_Airline,Marketing_Airline_Network,...,OriginCityName,OriginStateName,DestAirportID,DestCityName,DestStateName,CRSArrTime,Distance,ArrDelayMinutes,Cancelled,Diverted
8997246,8997246,2019-09-20,2019,3,9,20,5,Air Wisconsin Airlines Corp,ZW,UA,...,"Chicago, IL",Illinois,14711,"State College, PA",Pennsylvania,1227,528.0,0.0,False,False
16345357,16345357,2020-07-08,2020,3,7,8,3,United Air Lines Inc.,UA,UA,...,"Washington, DC",Virginia,11292,"Denver, CO",Colorado,1014,1476.0,0.0,False,False
17379892,17379892,2020-08-15,2020,3,8,15,6,Southwest Airlines Co.,WN,WN,...,"Chicago, IL",Illinois,10693,"Nashville, TN",Tennessee,1620,395.0,0.0,False,False
2082529,2082529,2018-12-25,2018,4,12,25,2,Comair Inc.,OH,AA,...,"Nashville, TN",Tennessee,11057,"Charlotte, NC",North Carolina,1524,328.0,0.0,False,False
11458127,11458127,2019-05-15,2019,2,5,15,3,Endeavor Air Inc.,9E,DL,...,"New York, NY",New York,13931,"Norfolk, VA",Virginia,1011,296.0,0.0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27898805,27898805,2022-06-10,2022,2,6,10,5,Endeavor Air Inc.,9E,DL,...,"Saginaw/Bay City/Midland, MI",Michigan,11433,"Detroit, MI",Michigan,1225,98.0,0.0,False,False
25713834,25713834,2022-02-19,2022,1,2,19,6,SkyWest Airlines Inc.,OO,UA,...,"Chicago, IL",Illinois,11109,"Colorado Springs, CO",Colorado,2136,911.0,0.0,False,False
8249967,8249967,2019-06-06,2019,2,6,6,4,Republic Airlines,YX,DL,...,"New York, NY",New York,10792,"Buffalo, NY",New York,1810,301.0,3.0,False,False
26532614,26532614,2022-07-20,2022,3,7,20,3,Endeavor Air Inc.,9E,DL,...,"Chattanooga, TN",Tennessee,11433,"Detroit, MI",Michigan,1828,505.0,0.0,False,False
3176043,3176043,2018-04-27,2018,2,4,27,5,Endeavor Air Inc.,9E,DL,...,"Atlanta, GA",Georgia,10208,"Augusta, GA",Georgia,25,143.0,0.0,False,False

In [5]:
test = comb[~comb.index.isin(train_val.index)]

In [7]:
test

,Unnamed: 0,FlightDate,Year,Quarter,Month,DayofMonth,DayOfWeek,Airline,Operating_Airline,Marketing_Airline_Network,...,OriginCityName,OriginStateName,DestAirportID,DestCityName,DestStateName,CRSArrTime,Distance,ArrDelayMinutes,Cancelled,Diverted
0,0,2018-01-23,2018,1,1,23,2,Endeavor Air Inc.,9E,DL,...,"Albany, GA",Georgia,10397,"Atlanta, GA",Georgia,1304,145.0,0.0,False,False
3,3,2018-01-26,2018,1,1,26,5,Endeavor Air Inc.,9E,DL,...,"Albany, GA",Georgia,10397,"Atlanta, GA",Georgia,1304,145.0,0.0,False,False
11,11,2018-01-05,2018,1,1,5,5,Endeavor Air Inc.,9E,DL,...,"Atlanta, GA",Georgia,10146,"Albany, GA",Georgia,1137,145.0,0.0,False,False
14,14,2018-01-08,2018,1,1,8,1,Endeavor Air Inc.,9E,DL,...,"Atlanta, GA",Georgia,10146,"Albany, GA",Georgia,1137,145.0,16.0,False,False
15,15,2018-01-09,2018,1,1,9,2,Endeavor Air Inc.,9E,DL,...,"Atlanta, GA",Georgia,10146,"Albany, GA",Georgia,1137,145.0,105.0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29193769,29193769,2022-03-31,2022,1,3,31,4,Republic Airlines,YX,UA,...,"Charlotte, NC",North Carolina,11618,"Newark, NJ",New Jersey,1335,529.0,38.0,False,False
29193771,29193771,2022-03-31,2022,1,3,31,4,Republic Airlines,YX,UA,...,"Detroit, MI",Michigan,11618,"Newark, NJ",New Jersey,1853,488.0,515.0,False,False
29193774,29193774,2022-03-31,2022,1,3,31,4,Republic Airlines,YX,UA,...,"Washington, DC",Virginia,14122,"Pittsburgh, PA",Pennsylvania,1901,182.0,180.0,False,False
29193776,29193776,2022-03-19,2022,1,3,19,6,Republic Airlines,YX,UA,...,"Newark, NJ",New Jersey,13244,"Memphis, TN",Tennessee,2237,946.0,135.0,False,False
29193778,29193778,2022-03-17,2022,1,3,17,4,Republic Airlines,YX,UA,...,"Charlotte, NC",North Carolina,11618,"Newark, NJ",New Jersey,1942,529.0,NaN,True,False

In [8]:
train = train_val.sample(frac=0.7)

In [9]:
val = train_val[~train_val.index.isin(train.index)]

In [11]:
test.shape

(8758135, 25)

In [12]:
train.shape

(14304953, 25)

In [13]:
val.shape

(6130694, 25)

In [14]:
test.to_csv('../raw_data/test.csv', index = False)
train.to_csv('../raw_data/train.csv', index = False)
val.to_csv('../raw_data/val.csv', index = False)

In [15]:
train_100k = train.sample(100000)
train_100k.to_csv('../raw_data/train_100k.csv', index = False)

val_100k = val.sample(100000)
val_100k.to_csv('../raw_data/val_100k.csv', index = False)

In [16]:
train_100k

,Unnamed: 0,FlightDate,Year,Quarter,Month,DayofMonth,DayOfWeek,Airline,Operating_Airline,Marketing_Airline_Network,...,OriginCityName,OriginStateName,DestAirportID,DestCityName,DestStateName,CRSArrTime,Distance,ArrDelayMinutes,Cancelled,Diverted
4007400,4007400,2018-06-12,2018,2,6,12,2,Mesa Airlines Inc.,YV,UA,...,"Houston, TX",Texas,13871,"Omaha, NE",Nebraska,1211,781.0,5.0,False,False
20873462,20873462,2021-11-21,2021,4,11,21,7,United Air Lines Inc.,UA,UA,...,"Washington, DC",Virginia,13204,"Orlando, FL",Florida,18,758.0,0.0,False,False
17189842,17189842,2020-08-27,2020,3,8,27,4,United Air Lines Inc.,UA,UA,...,"Las Vegas, NV",Nevada,11292,"Denver, CO",Colorado,1637,628.0,0.0,False,False
835979,835979,2018-10-06,2018,4,10,6,6,Mesa Airlines Inc.,YV,UA,...,"Washington, DC",Virginia,11433,"Detroit, MI",Michigan,951,383.0,26.0,False,False
13684447,13684447,2019-01-28,2019,1,1,28,1,Delta Air Lines Inc.,DL,DL,...,"San Francisco, CA",California,10397,"Atlanta, GA",Georgia,1915,2139.0,0.0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22915774,22915774,2021-07-11,2021,3,7,11,7,"GoJet Airlines, LLC d/b/a United Express",G7,UA,...,"Chicago, IL",Illinois,10874,"Akron, OH",Ohio,2112,343.0,0.0,False,False
1634670,1634670,2018-11-25,2018,4,11,25,7,Delta Air Lines Inc.,DL,DL,...,"Minneapolis, MN",Minnesota,13342,"Milwaukee, WI",Wisconsin,816,297.0,0.0,False,False
23905565,23905565,2021-02-22,2021,1,2,22,1,Allegiant Air,G4,G4,...,"Sioux Falls, SD",South Dakota,10466,"Phoenix, AZ",Arizona,2330,1072.0,0.0,False,False
7043874,7043874,2019-08-25,2019,3,8,25,7,American Airlines Inc.,AA,AA,...,"Philadelphia, PA",Pennsylvania,12889,"Las Vegas, NV",Nevada,2319,2176.0,2.0,False,False
18452739,18452739,2020-11-23,2020,4,11,23,1,Southwest Airlines Co.,WN,WN,...,"Houston, TX",Texas,12339,"Indianapolis, IN",Indiana,1820,861.0,1.0,False,False