In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../raw_data/train_subset_balanced_initial_3m.csv')
data

,Year,Quarter,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,Marketing_Airline_Network,Origin,Dest,Distance,ArrDelayMinutes,Cancelled,Diverted
0,2019,1,1,1,2,1905,2135,WN,MDW,ONT,1706,35.0,False,False
1,2019,1,1,1,2,1041,1103,AA,TVC,ORD,224,NaN,True,False
2,2018,1,1,1,1,1209,1425,DL,ATL,HPN,780,88.0,False,False
3,2022,1,1,1,6,2026,2218,AA,CLT,JFK,541,85.0,False,False
4,2022,1,1,1,6,1927,2117,UA,BOS,IAD,413,32.0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3199995,2021,4,12,31,5,745,1040,WN,PIT,FLL,994,0.0,False,False
3199996,2019,4,12,31,2,2002,2113,AA,LAX,FAT,209,0.0,False,False
3199997,2019,4,12,31,2,1945,2113,UA,CVG,IAD,388,0.0,False,False
3199998,2019,4,12,31,2,1325,1551,NK,MCO,PHL,861,0.0,False,False
3199999,2021,4,12,31,5,740,945,AA,TPA,ORD,1011,0.0,False,False

In [3]:
data_shuffled = data.sample(frac=1).reset_index(drop=True)
data_shuffled

,Year,Quarter,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,Marketing_Airline_Network,Origin,Dest,Distance,ArrDelayMinutes,Cancelled,Diverted
0,2021,4,10,19,2,800,1640,AS,OGG,SEA,2640,457.0,False,False
1,2019,3,9,26,4,1947,2117,DL,ORD,MSP,334,0.0,False,False
2,2022,2,5,13,5,715,1215,DL,ABQ,ATL,1269,0.0,False,False
3,2021,4,10,13,3,508,710,UA,BOI,DEN,649,0.0,False,False
4,2019,3,9,29,7,1816,1924,AA,CHS,CLT,168,55.0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3199995,2019,1,2,10,7,740,910,WN,MSP,MDW,349,81.0,False,False
3199996,2019,3,9,12,4,1847,2139,DL,SFO,SLC,599,114.0,False,False
3199997,2019,1,2,19,2,600,837,DL,RNO,SLC,422,338.0,False,False
3199998,2019,2,4,5,5,710,1107,AA,ORD,PBI,1143,0.0,False,False
3199999,2019,2,5,28,2,1500,1610,WN,HOU,DAL,239,NaN,True,False

In [4]:
data_shuffled.to_csv('../raw_data/train_subset_balanced_3m.csv', index = False)