In [1]:
import pandas as pd
import numpy as np

from delai.data.local_disk import get_pandas_chunk
from delai.ml_logic.preprocessing import preprocess_X, preprocess_y

from sklearn.metrics import classification_report, accuracy_score, recall_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score
from sklearn import datasets
from sklearn import tree

from matplotlib import pyplot as plt

## Import CSV & create X / y datasets

In [2]:
df_X = pd.read_csv('../raw_data/train_100k.csv')
df_y = pd.read_csv('../raw_data/train_100k.csv')

In [3]:
df_X = df_X.drop(columns=["ArrDelayMinutes" , "Cancelled", "Diverted"], axis =1)
df_y = df_y.drop(df_y.iloc[:, 1:22],axis = 1)

In [4]:
df_X.head()

,Unnamed: 0,FlightDate,Year,Quarter,Month,DayofMonth,DayOfWeek,Airline,Operating_Airline,Marketing_Airline_Network,...,Dest,CRSDepTime,OriginAirportID,OriginCityName,OriginStateName,DestAirportID,DestCityName,DestStateName,CRSArrTime,Distance
0,4324343,7/20/2018,2018,3,7,20,5,Southwest Airlines Co.,WN,WN,...,DAL,1200,12889,"Las Vegas, NV",Nevada,11259,"Dallas, TX",Texas,1640,1067
1,28169346,1/2/2022,2022,1,1,2,7,Spirit Air Lines,NK,NK,...,MSY,2110,15304,"Tampa, FL",Florida,13495,"New Orleans, LA",Louisiana,2148,488
2,18078508,2/11/2020,2020,1,2,11,2,Air Wisconsin Airlines Corp,ZW,UA,...,ORF,930,13930,"Chicago, IL",Illinois,13931,"Norfolk, VA",Virginia,1245,717
3,23669089,2/10/2021,2021,1,2,10,3,United Air Lines Inc.,UA,UA,...,IAH,700,15304,"Tampa, FL",Florida,12266,"Houston, TX",Texas,828,787
4,14530840,3/12/2020,2020,1,3,12,4,JetBlue Airways,B6,B6,...,BOS,1324,11278,"Washington, DC",Virginia,10721,"Boston, MA",Massachusetts,1455,399

In [5]:
df_y.head()

   Unnamed: 0  ArrDelayMinutes  Cancelled  Diverted
0     4324343              0.0      False     False
1    28169346              2.0      False     False
2    18078508              0.0      False     False
3    23669089              0.0      False     False
4    14530840              0.0      False     False

## Preprocess data

In [ ]:
X = preprocess_X(df_X)

In [ ]:
y = preprocess_y(df_y)

In [ ]:
X = X.drop(columns=[680], axis =1)
X = X.dropna()

## t_t_s & inspect

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2, random_state = 1)

In [ ]:
X.shape

In [ ]:
y.shape

## DecisionTreeClassifier

In [ ]:
clf = DecisionTreeClassifier(max_depth=None, min_samples_leaf=250, random_state=None, splitter='best', min_samples_split=50)
clf.fit(X,y)
pred = clf.predict(X_test)

In [ ]:
score = classification_report(y_test, pred)
print('Classification Report:',)
print (score)

In [ ]:
cross_val_score(clf, X_train, y_train, scoring = 'accuracy', cv=5)

In [ ]:
print(score.std())
score.mean()

In [ ]:
print(clf.predict_proba(X))

In [ ]:
clf.get_depth()

In [ ]:
clf.get_n_leaves()

In [ ]:
#tree.get_params(deep=True)

In [ ]:
clf.predict(X, check_input=True)

In [ ]:
clf.predict_proba(X, check_input=True)

In [ ]:
pivfl = data.pivot_table(index='Month', 
                        columns='DayOfWeek', 
                        values='Cancelled', aggfunc=np.median)

In [ ]:
from sklearn.tree import convert_to_graphviz
import graphviz

graphviz.Source(export_graphviz(tree))

In [ ]:
!pip install graphviz